@import "tailwindcss";
@theme inline {
  --color-primary: #7C3AED;
  --color-secondary: #A78BFA;
  --color-cta: #F97316;
  --color-background: #FAF5FF;
  --color-foreground: #4C1D95;
  --font-serif: var(--font-lora);
  --font-sans: var(--font-raleway);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
